body {
	background-image: url("../images/galaxy.jpg");
	color: #CCCC14;
	background-color: #000000;
	}
.navbar-default {
	background-color: transparent;
	background-image: url("../images/galaxy2.jpg");
	border-color: white;
}

.navbar-default .navbar-nav > li > a {
	color: #CCCC14;
}


.jumbotron{
	background-color: transparent;
}





